%p
  = link_to("I", "http://zeke.sikelianos.com", :class => 'weak')
  made a webservice for finding
  = link_to("rhymes", word_path('rhymes')) + "."

  You can also get the
  = link_to("Arpabet", "http://en.wikipedia.org/wiki/Arpabet", :class => 'weak')
  transcriptions if you 
  = link_to("fiddle", word_path('fiddle', :full => 1))
  with the params, you
  = link_to("monkey", word_path('monkey', :full => 1)) + '.'
  
  Source code is on 
  = link_to("github", "http://github.com/zeke/arpabet", :class => 'weak') + "."
  
  